<%- include('admin/start') %>
<%- include('admin/sidebar') %>
<%- include('admin/mainContent') %>

<!-- Content Section -->
<div class="content">
    <div class="card">
        <h3>&#x20B1;<%= totalPendings %></h3>
        <p>Total Pendings</p>
        <a href="/orders" class="btn">See Orders</a>
    </div>
    <div class="card">
        <h3><%= totalCompleted %></h3>
        <p>Completed Orders</p>
        <a href="/orders" class="btn">See Orders</a>
    </div>
    <div class="card">
        <h3><%= totalOrdersPlaced %></h3>
        <p>Orders Placed</p>
        <a href="/orders" class="btn">See Orders</a>
    </div>
    <div class="card">
        <h3><%= totalMessages %></h3>
        <p>Total Messages</p>
        <a href="/message" class="btn">See Messages</a>
    </div>
    <div class="card">
        <h3><%= totalProductsAdded %></h3>
        <p>Products Added</p>
        <a href="/products" class="btn">See Products</a>
    </div>
    <div class="card">
        <h3><%= totalAccounts %></h3>
        <p>Total Accounts</p>
        <a href="/accounts" class="btn">See Accounts</a>
    </div>
</div>

<%- include('admin/end') %>
