<%- include('admin/start') %>

<div class="sidebar">
    <h2>admin</h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/orders">Orders</a></li>
        <li><a href="/message" class="active">Messages</a></li>
        <li><a href="/accounts">Accounts</a></li>
    </ul>
</div>
<%- include('admin/mainContent') %>

<!-- Content Section -->
<div class="content">
    <% messages.forEach(message => { %> <!-- Loop through users -->
        <div class="card">
            <p>Email: <%= message.email %></p> <!-- Display email -->   
            <p>Message: <%= message.message %></p> <!-- Display message -->  
        </div>
    <% }); %>
</div>

<%- include('admin/end') %>