<%- include('admin/start') %>
<div class="sidebar">
    <h2>admin</h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/orders" class="active">Orders</a></li>
        <li><a href="/message">Messages</a></li>
        <li><a href="/accounts">Accounts</a></li>
    </ul>
</div>
<%- include('admin/mainContent') %>

<!-- Content Section -->
<div class="content">
    <% orders.forEach(order => { %> <!-- Loop through users -->
        <div class="card">
            <p>Id: <%= order.O_id %> </p>
            <p>Place on: <%= order.O_order_AT %> </p>
            <p>Name: <%= order.name %> </p>
            <p>Email: <%= order.email %> </p> <!-- Display email --> 
            <p>Address: <%= order.address %> </p>   
            <p>Total Products: <%= order.total_products %> </p>
            <p>Total Price: <%= order.total_price %> </p>
            <p>Payment Status: <%= order.payment_status %> </p>
            
        </div>
    <% }); %>
</div>

<%- include('admin/end') %>